.right {
  text-align: right;
}

.chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #262e35;
}

.chatTitle {
  border-bottom: 1px solid #36404a;
  padding: 1.5rem;
  color: #e1e9f1;
  margin-bottom: 0.25rem;
}

.media {
  display: flex;
  align-items: center;
}

.image {
  margin-right: 1rem;
}

.avatar {
  line-height: 1.5;
  border-style: none;
  vertical-align: middle;
  border-radius: 50%;
  height: 2.2rem;
  width: 2.2rem;
}

.chatTitleText {
  margin-top: 0;
  margin-bottom: 0.25rem;
  font-size: 15px;
}

.conversation {
  padding: 1.5rem;
  height: calc(100vh - 184px);
  overflow-y: auto;
}

.messages {
  margin-top: 0;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.footer {
  border-top: 1px solid #36404a;
  padding: 1.5rem;
  margin-top: 1rem;
}

.footerInput {
  display: flex;
}

.footerInputWidth {
  flex-grow: 1;
}

.formControl {
  width: 100%;
  border: 1px solid #36404a;
  height: calc(1.5em + 1rem + 6px);
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  border-radius: 0.4rem;
  background-color: #36404a;
  outline: 0;
  color: #9aa1b9;
}

.footerButtons {
  margin-left: 0.5rem;
}

.buttonPrimary {
  border: 1px solid transparent;
  color: #fff;
  background-color: #7269ef;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  border-radius: 0.4rem;
  font-size: 16px;
  cursor: pointer;
}

.buttonPrimary:hover {
  background-color: #5246eb;
}
