.chats {
  margin-right: 0.25rem;
  flex-basis: 380px;
}

.listTitleMargins {
  display: flex;
  align-items: center;
}

.addChat {
  margin-top: 0.5rem;
}

.addChatButton {
  background-color: transparent;
  border: 1px solid transparent;
  color: #9aa1b9;
  font-size: 18px;
  cursor: pointer;
}

.listTitle {
  flex-grow: 1;
  height: 0;
  font-weight: 600;
  margin-left: 1.5rem;
  color: #e1e9f1;
  font-size: 1.40625rem;
}

.chatList {
  padding-left: 0;
}
