.chatTitleContainer {
  padding: 15px 20px;
  border-top: 1px solid #303841;
}

.chatTitleContainer:hover {
  border-radius: 4px;
  background-color: #36404a;
  cursor: pointer;
}

.media {
  display: flex;
}

.chatImage {
  margin-right: 1rem;
}

.avatar {
  vertical-align: middle;
  border-radius: 50%;
  height: 2.2rem;
  width: 2.2rem;
}

.chatTitle {
  color: #e1e9f1;
  margin-top: 0;
  line-height: 1.2;
  margin-bottom: 0.25rem;
  font-size: 15px;
}
