.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

.addChat {
  display: flex;
  align-items: center;
  max-width: 500px;
  margin: 1.75rem auto;
  min-height: calc(100% - 3.5rem);
}

.addChatBody {
  width: 100%;
  background-color: #272c3b;
  border: 1px solid #36404a;
  border-radius: 0.4rem;
}

.addChatTitle {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  border-bottom: 1px solid #36404a;
}

.addChatTitleText {
  font-size: 1.17188rem;
  margin-bottom: 0;
}

.close {
  font-size: 1.40625rem;
  font-weight: 600;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}

.close:hover {
  opacity: 0.75;
}

.addChatDescription {
  color: #a6b0cf;
  pointer-events: auto;
  box-sizing: border-box;
  position: relative;
  flex: 1 1 auto;
  padding: 1.5rem;
}

.formGroup {
  margin-bottom: 1.5rem;
}

.inputLabel {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.formControl {
  width: 100%;
  padding: 0.47rem 0.75rem;
  font-size: 0.9375rem;
  line-height: 1.5;
  color: #9aa1b9;
  background-color: #2b3141;
  border: 1px solid #36404a;
  border-radius: 0.25rem;
}

.formControl:focus {
  outline: 0;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #36404a;
}

.createChatButton {
  border: 1px solid transparent;
  padding: 0.47rem 0.75rem;
  font-size: 0.9375rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #7269ef;
  margin: 0.25rem;
  cursor: pointer;
}

.createChatButton:hover {
  background-color: #5246eb;
}
