.chats {
  margin-right: 0.25rem;
  height: 100vh;
  background-color: #303841;
  width: 380px;
}

.listTitleMargins {
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.addChat {
  margin: 0;
  font-family: inherit;
  overflow: visible;
  text-transform: none;
  outline: none;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.47rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-weight: 400;
  padding-top: 0;
  padding-bottom: 0;
  color: #9aa1b9;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}

.listTitle {
  margin-bottom: 1.5rem;
  color: #e1e9f1;
  font-size: 1.40625rem;
  margin-top: 0;
}

.chatList {
  padding-left: 0;
  list-style: none;
}
